In [3]:
# Otherwise connection do not work
%pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24

Found existing installation: SQLAlchemy 1.3.9
Uninstalling SQLAlchemy-1.3.9:
  Successfully uninstalled SQLAlchemy-1.3.9
Collecting sqlalchemy==1.3.24
  Downloading SQLAlchemy-1.3.24-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.24
Note: you may need to restart the kernel to use updated packages.

In [1]:
%load_ext sql
%sql ibm_db_sa://wgm87184:gb7L5aTEg3Whwbn0@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb?security=SSL

In [12]:
# The names of the unique launch sites

%sql SELECT UNIQUE(LAUNCH_SITE) FROM SPACEX;

 * ibm_db_sa://wgm87184:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

In [16]:
# The 5 records where launch sites begin with the string 'CCA'

%sql SELECT LAUNCH_SITE FROM SPACEX WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5;

 * ibm_db_sa://wgm87184:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

In [32]:
# The total payload mass carried by boosters launched by NASA (CRS)

%sql SELECT CUSTOMER, PAYLOAD_MASS__KG_ FROM SPACEX WHERE CUSTOMER = 'NASA (CRS)';

 * ibm_db_sa://wgm87184:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
Done.

[('NASA (CRS)', 500),
 ('NASA (CRS)', 677),
 ('NASA (CRS)', 2296),
 ('NASA (CRS)', 2216),
 ('NASA (CRS)', 2395),
 ('NASA (CRS)', 1898),
 ('NASA (CRS)', 1952),
 ('NASA (CRS)', 3136),
 ('NASA (CRS)', 2257),
 ('NASA (CRS)', 2490),
 ('NASA (CRS)', 2708),
 ('NASA (CRS)', 3310),
 ('NASA (CRS)', 2205),
 ('NASA (CRS)', 2647),
 ('NASA (CRS)', 2697),
 ('NASA (CRS)', 2500),
 ('NASA (CRS)', 2495),
 ('NASA (CRS)', 2268),
 ('NASA (CRS)', 1977),
 ('NASA (CRS)', 2972)]

In [33]:
#Average payload mass carried by booster version F9 v1.1

%sql SELECT AVG(PAYLOAD_MASS__KG_) AS average_payload_mass FROM SPACEX WHERE BOOSTER_VERSION LIKE 'F9 v1%';

 * ibm_db_sa://wgm87184:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
Done.

[(1986,)]

In [40]:
#The date when the first successful landing outcome in ground pad was acheived

%sql SELECT MIN(DATE) AS date_of_the_first_successful_landing_outcome_in_ground_pad FROM SPACEX WHERE LANDING__OUTCOME = 'Success (ground pad)';

 * ibm_db_sa://wgm87184:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
Done.

[(datetime.date(2015, 12, 22),)]

In [47]:
#The names of the boosters which have success in drone ship and have payload mass between 4000-6000

%sql SELECT BOOSTER_VERSION, landing__outcome, payload_mass__kg_ FROM SPACEX WHERE landing__outcome = 'Success (drone ship)' AND payload_mass__kg_ > 4000 AND payload_mass__kg_ < 6000;

 * ibm_db_sa://wgm87184:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
Done.

[('F9 FT B1022', 'Success (drone ship)', 4696),
 ('F9 FT B1026', 'Success (drone ship)', 4600),
 ('F9 FT  B1021.2', 'Success (drone ship)', 5300),
 ('F9 FT  B1031.2', 'Success (drone ship)', 5200)]

In [93]:
# The total number of successful and failure mission outcomes

%sql SELECT MISSION_OUTCOME, COUNT(*) AS CNT FROM SPACEX GROUP BY MISSION_OUTCOME;

 * ibm_db_sa://wgm87184:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

In [63]:
#The names of the booster_versions which have carried the maximum payload mass

%sql SELECT BOOSTER_VERSION, PAYLOAD_MASS__KG_ FROM SPACEX WHERE PAYLOAD_MASS__KG_ =  (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEX);

 * ibm_db_sa://wgm87184:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2', 15600),
 ('F9 B5 B1058.3', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7', 15600)]

In [70]:
#The failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

%sql SELECT DATE, LANDING__OUTCOME, BOOSTER_VERSION, LAUNCH_SITE FROM SPACEX WHERE LANDING__OUTCOME =  'Failure (drone ship)' AND DATE LIKE '2015%';

 * ibm_db_sa://wgm87184:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
Done.

[(datetime.date(2015, 1, 10), 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 (datetime.date(2015, 4, 14), 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

In [94]:
#The count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20

%sql SELECT LANDING__OUTCOME, COUNT(*) AS CNT FROM SPACEX WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY LANDING__OUTCOME ORDER BY CNT DESC;

 * ibm_db_sa://wgm87184:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
Done.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Success (ground pad)', 3),
 ('Failure (parachute)', 2),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1)]